<h1><%= link_to @campaign.title, @campaign %></h1>

<p> <strong>Signatures:</strong> </p>

<table>
<% @signatories.each do |signatory| %>
  <tr>
    <td><%= signatory.name %></td>
    <td><%= signatory.email %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @signatories %>

<p>
  <%= link_to "Sign Now!", controller: "signatories", action: "new", campaign_id: @campaign.id %>
</p>
